body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    background-image: url("../media/placeholder1.jpg");
    background-size: 100%;
    height: 500px;
    padding: 20px;
}

section {
    background-color: aquamarine;
    height : 1000px;
}

footer {
    background-color: blanchedalmond;
    height : 200px;
}